* {
  box-sizing: border-box;
}
.card-container{
    background: black;
    color: white;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 20px;
}

.cards {
  border: 2px solid;
  height: 480px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 8px; 
  text-align: left; 
  background: white;
  color: black;
  padding: 15px; 
}


.cards img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}


.card-body{
    margin-top: 20px;
    text-align: left;
}
.card-body p{
    color: gray;
}
.btn{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.btn button{
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    color: white;
}

.btn1{
    background: rgb(186, 177, 177);
}
.btn2{
    background: rgb(204, 46, 204);

}

.stock{
    color: green;
}