.cart-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 20px;
}
.cart-card {
    border: 2px solid;
    height: 480px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    text-align: left;
    background: white;
    color: black;
    padding: 15px;
    
}

.cart-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}